# dependencies
node_modules

# next
.next
out

# env
.env.local
.env*.local

# mac
.DS_Store

# logs
*.log
npm-debug.log*

# cursor
.cursor
.agents

# build
dist
build
tsconfig.tsbuildinfo

# vercel
.vercel